Source: process-cpp
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: cmake,
               cmake-extras,
               debhelper (>= 9),
               doxygen,
               google-mock,
               graphviz,
               libboost-dev,
               libboost-iostreams-dev,
               libboost-system-dev,
               libproperties-cpp-dev,
               pkg-config,
Standards-Version: 3.9.5
Section: libs
Homepage: https://launchpad.net/process-cpp
# If you aren't a member of ~phablet-team but need to upload packaging changes,
# just go ahead. ~phablet-team will notice and sync up the code again.
Vcs-Bzr: https://code.launchpad.net/~phablet-team/content-hub/trunk
Vcs-Browser: https://bazaar.launchpad.net/~phablet-team/process-cpp/trunk/files

Package: libprocess-cpp2
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends},
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: C++11 library for handling processes - runtime library
 Process-cpp is a simple convenience library for handling processes in C++11.
 .
 This package includes the process-cpp runtime libraries.

Package: libprocess-cpp-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Recommends: libprocess-cpp-doc,
Depends: libprocess-cpp2 (= ${binary:Version}),
         ${misc:Depends},
         libproperties-cpp-dev,
Description: C++11 library for handling processes - dev headers and libraries
 Process-cpp is a simple convenience library for handling processes in C++11.
 .
 This package includes all the development headers and libraries for
 process-cpp.

Package: libprocess-cpp-doc
Section: doc
Architecture: all
Depends: ${misc:Depends},
Suggests: libprocess-cpp-dev,
Description: Documentation files for libprocess-cpp-dev
 Process-cpp is a simple convenience library for handling processes in C++11.
 .
 This package includes documentation files for the libprocess-cpp
 development.
